<<<<<<< HEAD
{% extends 'base.html.twig' %}
{% block error %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h4>Ayuda</h4>
            <p>Devoluciones</p>
            <p>Como detectar fakes</p>
            <p>Condiciones de venta</p>
            <p>Sobre la empresa</p>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
    <script src="script.js"></script>
    <style type="text/css">
        /*.cabecera{
            color: white;
            padding: 10px;
            text-align: center;
            height: 220px;

        }
        .cabecera .row {
            display: flex;
            justify-content: space-between;
            border: 1px solid white;
            margin:5px;
        }
        .cabecera .row div{
            border: 1px solid white;
        }

        .logo{
            align-self: flex-end;
            text-align: center;
        }
        .login{
            align-self: flex-start;
        }
        .boton{
            align-self: flex-end;
            text-align: center;
        }
        .marca{
            align-self: center;
        }
        .bottom{
            height: 50px;
        }
        .top{
            height: 140px;
        }*/
        html{
            padding: 0px;
            margin: 0px;
            width: 100%;
        }
        .cabecera{
            width: 100%;
            padding: 10px;
            color: white;
            font-family: 'Secular One', sans-serif;

        }
        .cabecera .row div{


        }
        .cabecera .row{
            margin-bottom: 10px;
        }
        .primera{
            height:120px;
        }
        .lupa{
            padding:5px;
            background-color: #7A306C
        }
        .login:hover{
            text-decoration: none;
            color:darkgrey;
        }
        .login{
            color:white;
        }

        .btn-navegar{ background-color: #7A306C}
    </style>
</head>
<body>
<header>
    <nav class="fixed-top bg-dark">
        <div class="cabecera">
            <div class="row text-center primera">
                <div class="col-md-3 align-self-center text-left"><h3>Le-Ram</h3></div>
                <div class="col-md-6 align-self-center"><h1>Compra.Vende.<br/>Authentic streetwear</h1></div>

                <div class="col-md-3 align-self-flex-start text-right"><a class="login" href="{{ path('app_register') }}">Login/Sign Up</a></div>


            </div>
            <div class="row text-center align-items-end">
                <div class="col-lg-3 text-left"><a class="btn btn-lg btn-navegar" src="google.es">Navegar</a></div>
                <div class="col-lg-6 text-center justify-content-center">
                    <form class="form-inline mt-2 mt-md-0 justify-content-center">
                        <input class="form-control col-md-6" type="text" placeholder="Search" aria-label="Search">
                        <button type="button" class="btn btn-default btn-lg col-md-1 lupa">
                            <img src="img/lupa.png" height="27px">
                        </button>
                    </form></div>
                <div class="col-lg-3 text-right"><a class="btn btn-lg btn-success">Venta</a></div>
            </div>

        </div>
        <div class="col-md-4">
            <h4>Contactar</h4>
            <p>Politica de privacidad</p>
            <p>Política de cookies</p>
            <p>Preguntas frecuentes</p>
        </div>
        <div class="col-md-4">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Ayuda</h4>
            <p>Devoluciones</p>
            <p>Como detectar fakes</p>
            <p>Condiciones de venta</p>
            <p>Sobre la empresa</p>
        </div>
        <div class="col-md-4">
            <h4>Contactar</h4>
            <p>Politica de privacidad</p>
            <p>Política de cookies</p>
            <p>Preguntas frecuentes</p>
        </div>
        <div class="col-md-4">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Ayuda</h4>
            <p>Devoluciones</p>
            <p>Como detectar fakes</p>
            <p>Condiciones de venta</p>
            <p>Sobre la empresa</p>
        </div>
        <div class="col-md-4">
            <h4>Contactar</h4>
            <p>Politica de privacidad</p>
            <p>Política de cookies</p>
            <p>Preguntas frecuentes</p>
        </div>
        <div class="col-md-4">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
        </div>
    </div>
{% endblock %}