{% extends 'base.html.twig' %}
{% block error %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h4>Ayuda</h4>
            <p>Devoluciones</p>
            <p>Como detectar fakes</p>
            <p>Condiciones de venta</p>
            <p>Sobre la empresa</p>
        </div>
        <div class="col-md-4">
            <h4>Contactar</h4>
            <p>Politica de privacidad</p>
            <p>Política de cookies</p>
            <p>Preguntas frecuentes</p>
        </div>
        <div class="col-md-4">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Ayuda</h4>
            <p>Devoluciones</p>
            <p>Como detectar fakes</p>
            <p>Condiciones de venta</p>
            <p>Sobre la empresa</p>
        </div>
        <div class="col-md-4">
            <h4>Contactar</h4>
            <p>Politica de privacidad</p>
            <p>Política de cookies</p>
            <p>Preguntas frecuentes</p>
        </div>
        <div class="col-md-4">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Ayuda</h4>
            <p>Devoluciones</p>
            <p>Como detectar fakes</p>
            <p>Condiciones de venta</p>
            <p>Sobre la empresa</p>
        </div>
        <div class="col-md-4">
            <h4>Contactar</h4>
            <p>Politica de privacidad</p>
            <p>Política de cookies</p>
            <p>Preguntas frecuentes</p>
        </div>
        <div class="col-md-4">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
            <img src="img/lupa.png" height="26px">
        </div>
    </div>
{% endblock %}