{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div>Supreme>Camisetas</div>
    <div class="container-fluid margin_scroll">
        <div class="row">
            <div>Más caro a más Barato</div>
            <div>Más barato a más caro</div>
            <div>Release Date</div>
            <div>Más popular</div>
        </div>
    </div>
{% endblock %}
